html {
    font-size: 1rem;
}

body {
	color: white;
	background-color: #008DDA;
	margin: auto;
	width: 50%;
}

#exam-select-btn {
    width: 20%;
}

#exam-export-btn {
    width: 20%;
}

label {
    display: flex;
}

.is_submitted label {
    color: LightGray;
}

.submitted .correct {
    outline: 0.08rem solid lime;
    border-radius: 0.2rem;
}
.submitted .incorrect {
   outline: 0.08rem solid orangered;
   border-radius: 0.2rem;
}

.fixed {
    width: 50%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.fixed * {
    display: inline-block;
}

#ans_submit, #ans_next {
    width: 20%;
}

@media only screen and (max-width: 1280px) {
    body, .fixed {
        width: 60%;
    }
}

@media only screen and (max-width: 1024px) {
    body, .fixed {
        width: 75%;
    }

    html {
        font-size: 1.2rem;
    }
}

@media only screen and (max-device-width: 768px) {
    body, .fixed {
        width: 90%;
    }

    html {
        font-size: 1.4rem;
    }
}

@media only screen and (max-device-width: 425px) {
    body, .fixed {
        width: 100%;
    }

    html {
        font-size: 2.4rem;
    }
}