html {
    font-size: 1rem;
}

body {
	color: white;
	background-color: #12486B;
	margin: auto;
	width: 50%;
}

#exam_form {
    height: 2.4rem;
}

.form-select {
    float: left;
    width: 81%;
}

#exam-select-btn {
    float: right;
    width: 18%;
    margin: 0;
}

.question_text {
    margin: 0;
}

#quiz_form {
    margin-bottom: 3rem;
}

label {
    display: flex;
}

#quiz_form input {
    margin: auto 1rem auto 0;
}

.checked label {
    color: LightGray;
}

.checked .correct {
    outline: 1px solid green;
}
.checked .incorrect {
   outline: 1px solid red;
}

.fixed {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.fixed * {
    display: inline-block;
}

@media only screen and (max-width: 1280px) {
    body {
        width: 60%;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        width: 75%;
    }

    html {
        font-size: 1.2rem;
    }
}

@media only screen and (max-device-width: 768px) {
    body {
        width: 90%;
    }

    html {
        font-size: 1.4rem;
    }
}

@media only screen and (max-device-width: 425px) {
    body {
        width: 100%;
    }

    html {
        font-size: 2.4rem;
    }
}