{% extends "base.html" %}
{% block content %}

<form id="quiz_form" class="w-100 p-3 {{checked}}" action="{{ url_for('quiz') }}" method="post">
    {% for i in range(answers|count) %}
        {% if (answers[i] in correct) and (answers[i] in choice) %}
            <label class="correct">
            <input class="form-check-input" type="radio" name="answer" value="{{answers[i]}}" {{checked}} {{disabled}}>
            {% for line in answers[i].split('\n') %}
                {{ line }}<br>
            {% endfor %}
            </label><br>
        {% elif answers[i] in correct %}
            <label class="correct">
            <input class="form-check-input" type="radio" name="answer" value="{{answers[i]}}" {{disabled}}>
            {% for line in answers[i].split('\n') %}
                {{ line }}<br>
            {% endfor %}
            </label><br>
        {% elif answers[i] in choice %}
            <label class="incorrect">
            <input class="form-check-input" type="radio" name="answer" value="{{answers[i]}}" {{checked}} {{disabled}}>
            {% for line in answers[i].split('\n') %}
                {{ line }}<br>
            {% endfor %}
            </label><br>
        {% else %}
            <label>
            <input class="form-check-input" type="radio" name="answer" value="{{answers[i]}}" {{disabled}}>
            {% for line in answers[i].split('\n') %}
                {{ line }}<br>
            {% endfor %}
            </label><br>
        {% endif %}
    {% endfor %}
</form>

{% endblock %}